<link href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css" rel="stylesheet">
<link href="angularjs-datatables.css" rel="stylesheet">
<link href="style.css" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js" integrity="sha256-zBy1l2WBAh2vPF8rnjFMUXujsfkKjya0Jy5j6yKj0+Q="
    crossorigin="anonymous"></script>

<script src="angularjs-datatables.js"></script>
<script src="app.js"></script>

<body ng-app="app" ng-controller="main" ng-cloak>
    <div style="padding: 10px 15px; padding-top: 0;">
        <label style="font-weight: normal;">
            Birthday range start:<br>
            <input type="date" ng-model="filters.startDate" class="form-control">
        </label>
        <label style="font-weight: normal;">
            Birthday range end:<br>
            <input type="date" ng-model="filters.endDate" class="form-control">
        </label>
        <label style="font-weight: normal;">
            Country:<br>
            <select ng-model="filters.country" class="form-control">
                <option value="">All</option>
                <option ng-repeat="country in countries">{{country}}</option>
            </select>
        </label>
    </div>
    <!-- Note: filteredNames only exists if doing custom filters  -->
    <table class="table table-striped table-bordered dataTable" ng-rows="filteredNames" ng-selected="selected">
        <thead>
            <tr>
                <th ng-sortable>ID</th>
                <th ng-sortable>Birthday</th>
                <th ng-sortable>First Name</th>
                <th ng-sortable>Last Name</th>
                <th ng-sortable>Country</th>
                <th ng-sortable>Net Worth</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-row>
                <td>{{row.id}}</td>
                <td>{{row.birthday | date}}</td>
                <td>{{row.firstName}}</td>
                <td>{{row.lastName}}</td>
                <td>{{row.country}}</td>
                <td>{{row.netWorth | currency}}</td>
            </tr>
        </tbody>
    </table>
</body>